<nav class="navbar navbar-fixed-top alert-navbar">
	<div class="container container-alert">
	<ul class="inline-ul alert-ul">
		<li style="margin-right:20px;"><p class="nav-alert-message"><span style="font-weight:600;">Huber</span> has detected a posible fire</p></li>
		<li><button class="btn btn-dismiss-alert btn-alert">dismiss</button></li>
		<li><button class="btn btn-go-alert btn-alert">go</button></li>
	</ul>
	</div>
</nav>