<nav id="navbar-app" class="navbar navbar-fixed-top">
<div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand navbar-item" href="/">Huber</a>
</div>
<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/" class="navbar-item">Home</a></li>
    <li><a href="#about" class="navbar-item">Tasks</a></li>
    <li><a href="#about" class="navbar-item">Alerts</a></li>
    <li><a target="_blank" class="navbar-item" href="http://twitter.com/asimonv">Contact</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
	<li><a title="Add new task" id="add-task-button"><i class="icon icon-xs icon-add"></i></a></li>
  </ul>
</div><!--/.nav-collapse -->
</div>
</nav>