<nav class="navbar navbar-fixed-top task-completed-notification">
	<div class="container container-alert">
	<ul class="inline-ul alert-ul">
		<li style="margin-right:20px;"><p class="nav-alert-message">A task has been completed!</p></li>
		<li><button class="btn btn-dismiss-alert btn-alert">dismiss</button></li>
	</ul>
	</div>
</nav>